<!-- top-bar.component.html -->
<div class="top-bar" [ngStyle]="{
        'background-color': 'rgba(0, 0, 0, ' + scrollOpacity + ')',
        'backdrop-filter': 'blur(5px)'
      }">

  <!-- ✅ Click en el logo para ir al inicio -->
  <img
    src="https://res.cloudinary.com/dehltwwbu/image/upload/v1746513782/20250501_1611_Logo_Blanco_remix_01jt6tz96xf26afrjm2b4t8by8_oyy1lv_1_obnj1x.png"
    alt="Inicio"
    class="logo-img"
    (click)="irAlInicio()"
    style="cursor: pointer;" />

  <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>

  <div class="button-group" [ngClass]="{ 'active': menuOpen }">
    <a class="nav-button" (click)="irAbout()">Acerca de nosotros<i class="fa-solid fa-users"></i></a>
    <a class="nav-button">Desarrolladores</a>
    <a class="nav-button" (click)="irLogin()">Iniciar sesión<i class="fa-solid fa-user"></i></a>
  </div>
</div>
