<!-- Mensaje de notificación -->
<div *ngIf="mensaje" [ngClass]="{ 'mensaje-exito': !esError, 'mensaje-error': esError }" class="mensaje">
  {{ mensaje }}
</div>

<div class="registro-container">
  <!-- Contenedor del logo -->
  <div class="logo-container">
    <img src="assets/img/Logo.png" alt="Logo de la empresa" class="logo-img" />
  </div>

  <!-- Contenedor del formulario de login -->
  <form class="cliente-form" (ngSubmit)="loginUsuario()" #form="ngForm">
    <h2>Iniciar Sesión</h2>

    <!-- Campo de correo -->
    <label for="email">Correo electrónico:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="usuario.email"
      required
      placeholder="ejemplo@correo.com"
    />

    <!-- Campo de contraseña -->
    <label for="password">Contraseña:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="usuario.password"
      required
      placeholder="********"
    />

    <!-- Botón de login -->
    <button type="submit" [disabled]="form.invalid">Iniciar sesión</button>
  </form>
</div>
